div#ingredients_for_product .input-group{
	width:100% !important;
}
.login_form .input-group{
width: 100% !important;
}

.input-group, .form-group{
margin-bottom:10px !important;
width: 100% !important;
}
@media screen and (min-width: 992px) {
    .input-group, .form-group{
	width: 70% !important;
	}
}

.menu {
margin-bottom: 10px;
margin-top: 10px;
}

.footer{
background-color:#FFA41A;
font-size: 18px;
float:left;
height: 80px;
}
.main, .footer{
padding-right: 0px !important;
padding-left: 0px;
}

.footer{
margin-top: 20px;
}

.footer_content{
padding-top:15px;
}

.category_title{
font-size:30px;
font-weight: bold;
text-transform: uppercase;


}
.category_header{
border-radius:5px;
background-color: #FFA41A;
margin-bottom: 20px;
padding-top:12px;
padding-bottom:12px;
}

.product_header_info{
font-size:18px;
padding: 0px ! important;
margin-bottom: 8px;
}

.product_header{
font-size:24px;
font-weight: bold;
text-transform: uppercase;
}

.product_price{
text-align:left;
padding: 0px ! important;
}

.product_buttons{
margin-top: 8px;
}

.product_info hr{
margin-top: 8px;
margin-bottom: 8px;
}
