{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<a href="/basket" class="btn btn-primary">Powrót</a><p style="text-align: right;"><a href="/basket/clear" class="btn btn-primary">Wyczyść koszyk</a></p>
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	{% if products > 0 %}
		<form action="/basket/order" method="POST">
		{% csrf_token %}
		<table class="table table-hovered table-responsive">
		<tr><th>Produkt</th><th>Ilość</th><th>Cena</th><th>Usuń</th></tr>
		{% for row in productsList %}
			<tr><td><b>{{row.prodId}}</b>{% if row.prodRem != ' ' and row.prodRem != '' %}<p style="text-indent: 2%;">Uwagi: {{row.prodRem}}</p>{% endif %}{% if row.prodCats != '' %}<p style="text-indent: 2%;">Kategorie: {{row.prodCats}}</p>{% endif %}{% if row.prodIngs != '' %}<p style="text-indent: 2%;">Dodatkowe składniki: {{row.prodIngs}}</p>{% endif %}</td><td><input type="number" min="0" max="999" value="{{row.prodNum}}" name="{{row.prodCode}}" /></td><td>{% if row.prodPrice != row.prodPriceDisc %}<span style="text-decoration: line-through;">{{row.prodPrice|floatformat:2}}</span> {{row.prodPriceDisc|floatformat:2}}{% else %}{{row.prodPrice|floatformat:2}}{% endif %} zł</td><td><a href="/basket/remove/{{row.prodCode}}/" class="btn btn-primary" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-trash"></span> </a></td></tr>
		{% endfor %}
		</table>
		<p style="text-align: right;"><input type="submit" name="act" value="Aktualizuj" class="btn btn-primary"/></p>
		Łączna cena: {{orderPrice}} zł 
		<br /><br /><input type="submit" name="act" value="Zamów" class="btn btn-primary"/>
		</form>
	{% endif %}
{% endblock %}