<html>
{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/payment/" class="btn btn-primary">Powrót</a><br /><br />
<form action="/manage/payment/add/" method="POST" class="form-horizontal">
	
	{% csrf_token %}
	<div class="input-group">
	<label class="control-label">Dodaj nową płatność: </label>
	<input type="text" class="form-control" name="payment_name" value="Nazwa płatności" maxlength="20" onblur="if(this.value=='')this.value='Nazwa płatności';" onfocus="if(this.value=='Nazwa płatności')this.value='';"/>
	
	</div>
	<input class="btn btn-primary" type="submit" name="sent" value="Zapisz" />  	{{ result }}


</form>



{% endblock %}