{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/magazine/add/" class="btn btn-primary">Dodaj nowy składnik do bazy</a><br /><br />

	<table class="table table-hovered table-responsive">
	<tr>
	<th align="center">
	Składnik
	</th>
	<th align="center" colspan="2">
	Jedna porcja
	
	</th>
	<th align="center" colspan="2">
	Magazyn
	</th>
	<th align="center" colspan="2">
	Cena
	</th>
	<th>
	</th>
	</tr>
	{% for element in ingredients %}
	<tr>
	<td>
	{{ element.name }}
	</td>
	<td width=8 align=right>

		{{ element.default_quantity }}

	</td>
		<td>

		{{ element.units }}

	</td >
	<td width=8 align=right>
		{% if element.quantity < element.min_quantity %}
			<font color="red">
		{% endif %}
		{{ element.quantity }}
		</font>
	</td>
	<td>
		{% if element.quantity < element.min_quantity %}
			<font color="red">
		{% endif %}
		{{ element.units }}
		</font>
	</td >
	<td width=8  align=right>
	{{ element.price }} 	
	</td>
	<td>
	PLN
	</td>
	<td align="right" >
	<a href="/manage/magazine/edit/{{ element.id }}/" class="btn btn-primary" data-toggle="tooltip" title="edytuj"/><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
	<a href="/manage/magazine/delete/{{ element.id }}/" class="btn btn-primary delete-button" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-trash"></span> </a>
	</td>
	</tr>
	{% endfor %}
	</table>
	
{% endblock %}