<html>
{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/magazine/"  class="btn btn-primary">Powrót</a><br /><br />
<form action="/manage/magazine/{% if type == "edit" %}edit/{{toEdit.id}}{% elif type == "add" %}add{% endif %}/" method="POST">
	
	{% csrf_token %}
	<div style="position: relative;top: 10px; ">
	<div class="input-group ">
	<label  class="control-label">Nazwa składnika: </label>
	<input type="text" name="ingredient_name" value="{% if type == "edit" %}{{toEdit.name}}{% endif %}" maxlength="20" class="form-control"/>
	</div>
	<div class="input-group ">
	<label  class="control-label">Wartość jednej porcji składnika: </label>
	<input type="number" name="default_quantity" value="{% if type == "edit" %}{{toEdit.default_quantity}}{% endif %}" maxlength="9"  class="form-control" min="0" max="999.99" data-bind="value:replyNumber" step="any"/>
		</div>
	<div class="input-group ">
	<label  class="control-label">Ilość: </label>
	<input type="number" name="count" value="{% if type == "edit" %}{{toEdit.quantity}}{% endif %}" maxlength="9" class="form-control" min="0" max="999.99" data-bind="value:replyNumber" step="any"/>
		</div>
	<div class="input-group ">
	<label  class="control-label">Minimalna ilość: </label>
	<input type="number" name="min_count" value="{% if type == "edit" %}{{toEdit.min_quantity}}{% endif %}" maxlength="9"  class="form-control" min="0" max="999.99" data-bind="value:replyNumber" step="any"/>
		</div>
	<div class="input-group ">
	<label  class="control-label">Cena za jednostke: </label>
	<input type="number" name="price" value="{% if type == "edit" %}{{toEdit.price}}{% endif %}" maxlength="9" class="form-control" min="0" max="999.99" data-bind="value:replyNumber" step="any"/>
		</div>
			<div class="input-group ">
	</div>
	<div class="input-group ">
	<label  class="control-label">Jednostka: </label>
	<select name="units"  class="form-control">
		<option name="kg" {% if type == "edit" and toEdit.units == "kg"%}selected{% endif %}>Kilogram</option>
		<option name="lt"{% if type == "edit" and toEdit.units == "l"%}selected{% endif %}>Litr</option>
		<option name="szt"{% if type == "edit" and toEdit.units == "szt"%}selected{% endif %}>Sztuka</option>	
	</select>
	</div>
	
	<br>
	<input align="right" type="submit"  class="btn btn-primary" name="sent" value="Zapisz" />
	</div>

</form>



{% endblock %}