{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a class="btn btn-primary" href="/manage/">Powrót</a><br /><br />
	{% if count > 0 %}
	<table class="table table-hover table-responsive">
	<tr><th>Status</th><th>Przejście w</th><th>Produkt</th><th>Ilość produktów</th><th>Dodatki</th><th>Opis</th><th> </th></tr>
	{% for element in content %}
	<td>
	
	{{ element.status }} </td><td> <a  href="/manage/order_status/change/{{ element.code }}/" class="change-order-status-button"> {% if element.si == '1' %} Przygotowywane {% else %} Oczekujące {% endif %}</a>
	
	</td>
	<td>
	{% for product in element.products %}
	{{product.product_name}}<br/>
	{% endfor %}
	</td>
	
	<td>
	{% for product in element.products %}
	{{product.product_quantity}}<br/>
	{% endfor %}
	</td>
	
	<td>
	{% for ing in element.ingrad %}
	{{ing.ing_name}}<br/>
	{% endfor %}
	</td>
	
	<td>
	{{ element.order_note }}
	</td>
	
	<td align="centre" >
	
	<a href="/manage/order_status/edit/{{ element.code }}/"  class="btn btn-primary" data-toggle="tooltip" title="edytuj"/><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
	<a href="/manage/order_status/delete/{{ element.code }}/" class="cancel-order-button" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-remove"></span> </a>
	
	</td>
	
	</tr>
	{% endfor %}
	</table>
	{% else %}
	<div> Obecnie nie ma żadnych złożonych zamówień</div>
	{% endif %}
{% endblock %}