{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}

		<table class="table table-hovered table-responsive">
		<tr><th>Nazwa modułu</th></tr>
			<tr><td><a href="/manage/discount">Zniżki</a></td></tr>
			<tr><td><a href="/manage/product_category">Kategorie produktów</a></td></tr>
			<tr><td><a href="/manage/user_type">Typy użytkowników</a></td></tr>
			<tr><td><a href="/manage/magazine">Zarządzanie składnikami</a></td></tr>	
			<tr><td><a href="/manage/product">Zarządzanie produktami</a></td></tr>					
		</table>
{% endblock %}