{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<a href="/manage" class="btn btn-primary">Powrót</a><br /><br />
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/product/add" class="btn btn-primary">Dodaj nowy produkt</a><br /><br />
	{% if count > 0 %}
		<table class="table table-hovered table-responsive">
		<tr><th>Typ</th><th>Nazwa</th><th>Dodatkowa opłata</th><th>Ilość składników</th><th>Opis</th><th>Zarządzaj</th></tr>
		{% for row in content %}
		
		{% endfor %}
		</table>
	{% else %}
		{{content}}
	{% endif %}
{% endblock %}