<html>
{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<a href="/manage/discount/">Powrót</a><br /><br />
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/magazine/">Powrót</a><br /><br />
<form action="/manage/magazine/{% if type == "edit" %}edit/{{toEdit.id}}{% elif type == "add" %}add{% endif %}/" method="POST">
	
	{% csrf_token %}
	<div style="border:1px solid black; width:500;height:120;padding: 10px;position: relative;top: 10px; ">
	<p> Dodaj nowy składnik: </p>
	<input type="text" name="ingredient_name" value="{% if type == "edit" %}{{toEdit.name}}{% else %}Nazwa składnika{% endif %}" maxlength="20"  style="width:150px;" onblur="if(this.value=='')this.value='Nazwa składnika';" onfocus="if(this.value=='Nazwa składnika')this.value='';"/>
	<input type="text" name="count" value="{% if type == "edit" %}{{toEdit.quantity}}{% else %}Ilość{% endif %}" maxlength="9"  style="width:60px;" onblur="if(this.value=='')this.value='Ilość';" onfocus="if(this.value=='Ilość')this.value='';"/>
	<input type="text" name="min_count" value="{% if type == "edit" %}{{toEdit.min_quantity}}{% else %}Min. ilość{% endif %}" maxlength="9"  style="width:60px;" onblur="if(this.value=='')this.value='Min. ilość';" onfocus="if(this.value=='Min. ilość')this.value='';"/>
	<input type="text" name="price" value="{% if type == "edit" %}{{toEdit.price}}{% else %}Cena{% endif %}" maxlength="9"  style="width:60px;" onblur="if(this.value=='')this.value='Cena';" onfocus="if(this.value=='Cena')this.value='';"/>
	<select name="units">
		<option name="kg" {% if type == "edit" and toEdit.units == "kg"%}selected{% endif %}>Kilogram</option>
		<option name="lt"{% if type == "edit" and toEdit.units == "l"%}selected{% endif %}>Litr</option>
		<option name="szt"{% if type == "edit" and toEdit.units == "szt"%}selected{% endif %}>Sztuka</option>	
	</select><br>
	{% if type == "edit" %}
	(Nazwa składnika, Ilość, Minimalna ilość, Cena)
	{% else %}
	{% endif %}
	
	<br>
	<input align="right" type="submit" name="sent" value="Zapisz" />  	{{ result }}
	</div>

<form action="/manage/magazine/add/" method="POST">



{% endblock %}