{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage" class="btn btn-primary">Powrót</a></br></br>
	<a href="/manage/payment/add/" class="btn btn-primary">Dodaj nowy typ płatności</a><br /><br />

	<table class="table table-hover table-responsive">
	<tr>
	<th>
	Nazwa płatności
	</th>
	<th>
	Zarządzaj
	</th>
	</tr>
	{% for element in payments %}
	<tr>
	<td>
	{{ element.payment_name }}
	</td>
	<td>
	<a href="/manage/payment/delete/{{ element.id }}/" class="btn btn-primary delete-button" ><span class="glyphicon glyphicon-trash"></span> </a>
	</td>
	</tr>
	{% endfor %}
	</table>
	
{% endblock %}