{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}


{% block content %}
	<a href="/manage/schedule/" class="btn btn-primary">Powrót</a><br /><br />
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	{% if messageType != "danger" %}
	
	<form action="/manage/schedule/" method="POST" class="form-horizontal">
	{% csrf_token %}
	<script type="text/javascript">
	function checkSelected() {
		var selgr = document.getElementById("grdgoup");
		var sel = selgr.options[selgr.selectedIndex].value;
		if (sel == {{typeForUsers}}) {
			document.getElementById('affUsers').disabled = false;
		} else {
			document.getElementById('affUsers').disabled = true;
			document.getElementById('affUsers').value = "";
		}
		if (sel == {{typeForAll}}) {
			document.getElementById('affecting').disabled = true;
			document.getElementById('affecting').checked = false;
		} else {
			document.getElementById('affecting').disabled = false;
		}
	}
    function submitForm(action) {
        document.getElementById('columnarFor').action = action;
        document.getElementById('columnarForm').submit();
    }
	</script>
	<input type="hidden" name="sent" value="1" />
	<table>
	<tr>
		<td><div><input type="submit" value="Wyświetl" class="btn btn-primary"/></div></td>
		{% if canManage == 'true' %}
		{% if actionType == 'edit' %}
		<td><div><a href="/manage/schedule/edit/{{edit_id}}" class="btn btn-primary" data-toggle="tooltip">Edytuj plan</a></div></td>
		<td><div><a href="/manage/schedule/delete/{{edit_id}}" class="btn btn-primary" data-toggle="tooltip">Usuń plan</a></div></td>
		{% else %}
		<td><div><input type="submit" value="Dodaj plan" class="btn btn-primary" formaction="/manage/schedule/add"/></div></td>
		{% endif %}
		<td><div><a href="/manage/schedule/list" class="btn btn-primary" data-toggle="tooltip">Zarządzaj</a></div></td>
		{% endif %}
	</tr>
	</table>
	</br></br>
	<div class="input-group ">
	<table>
	<tr>
    <th  rowspan="2"><label class="control-label">Dla:&nbsp; </label> </th>
    <td ><select id="grdgoup" name="group" class="form-control" onchange = "checkSelected()" {% if viewType == 'edit' %}disabled{% endif %}>
		<option value="{{typeForUsers}}" {% if typeFor == typeForUsers %}selected{% endif %}>Użytkownicy</option>
		<option value="{{typeForAll}}" {% if typeFor == typeForAll %}selected{% endif %}>Wszyscy</option>
		{% for name in types %}
		<option value="{{forloop.counter0}}" {% if typeFor == forloop.counter0 %}selected{% endif %}>{{name}}</option>
		{% endfor %}
	</select></td>
    <td ><label class="control-label">           </label></td>
    <td ><input type="text" id="affUsers" name="affUsers" value="{{userNames}}"  class="form-control" {% if typeFor != typeForUsers %}disabled{% endif %} /></td>
	</tr>
	<tr>
    <td colspan="3"><div class="checkbox"><label><input  type="checkbox" id="affecting" name="affecting" value="1" {% if affect == 1 %}checked{% endif %} {% if typeFor == typeForAll %}disabled{% endif %} />Zawierające</label></div></td>
	</tr>
	</table>
	</div>
	</br></br>
	<div>
	<label class="control-label">{% if scheduleCount == 0 %} Brak planów do wyświetlenia {% elif scheduleCount > 4 %} Wyświetlono {{scheduleCount}} planów{% elif scheduleCount > 1 %} Wyświetlono {{scheduleCount}} plany{% else %}Wyświetlono 1 plan{% endif %}</label>
	</br></br>
	<table class="table table-hovered table-responsive">
	<tr>
		<th></th>
		<th>Poniedziałek</th>
		<th>Wtorek</th>
		<th>Środa</th>
		<th>Czwartek</th>
		<th>Piątek</th>
		<th>Sobota</th>
		<th>Niedziela</th>
	</tr>
	{% for i in timetable %}
		<tr>
		<th>{% if forloop.counter0 < 10 %}0{% endif %}{{forloop.counter0}}:00</th>
		{% for j in i %}
			<td>
			{% for key, value in j.items %}
				{% if value == "Wszyscy" and key == 0 %}
				<a href="/manage/schedule/">Wszyscy</a>
				{% elif value|last == "-" %}
				<a href="/manage/schedule_type/{{key}}">{{value|slice:"-1"}}</a>
				{% else %}
				<a href="/manage/schedule_user/{{key}}">{{value}}</a>
				{% endif %}
				{% if not forloop.last %}
				, 
				{% endif %}
			{% endfor %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
	</div>
	</form>
	{% endif %}

{% endblock %}