{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<a href="/manage/discount/" class="btn btn-primary">Powrót</a><br /><br />
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/discount/add/" class="btn btn-primary">Dodaj nową zniżkę</a><br /><br />
	{% if count > 0 %}
		<table class="table table-hover table-responsive">
		<tr><th>Aktywna</th><th>Dni</th><th>Godziny</th><th>Dla</th><th>Zniżka</th><th>Zarządzaj</th></tr>
		{% for row in content %}
			<tr><td>{% if row.active == "Tak" %}<b>{{row.active}}</b>{% else %}{{row.active}}{% endif %}</td><td>{{row.days}}</td><td>{{row.hours}}</td><td>{{row.for}}</td><td>{{row.disc}}</td><td><a href="/manage/discount/edit/{{row.id}}/" class="btn btn-primary" data-toggle="tooltip" title="edytuj"/><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;<a href="/manage/discount/delete/{{row.id}}/" class="btn btn-primary" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-trash"></span> </a></td></tr>
		{% endfor %}
		</table>
	{% else %}
		{{content}}
	{% endif %}
{% endblock %}