{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<a href="/manage" class="btn btn-primary">Powrót</a><br /><br />
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}
	<a href="/manage/product_category/add/" class="btn btn-primary">Dodaj nową kategorię</a><br /><br />
	{% if count > 0 %}
		<table class="table table-hovered table-responsive">
		<tr><th>Typ</th><th>Nazwa</th><th>Dodatkowa opłata</th><th>Kategoria nadrzędna</th><th>Zarządzaj</th></tr>
		{% for row in content %}
			<tr><td>{{row.name}}</td><td>{{row.type}}</td><td>{{row.add_price}}</td><td>{{row.parent}}</td><td><a href="/manage/product_category/edit/{{row.id}}/" class="btn btn-primary" data-toggle="tooltip" title="edytuj"/><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;<a href="/manage/product_category/delete/{{row.id}}/" class="btn btn-primary" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-trash"></span> </a></td></tr>
		{% endfor %}
		</table>
	{% else %}
		{{content}}
	{% endif %}
{% endblock %}