{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% endif %}

	<a href="/user/register"  class="btn btn-primary">Dodaj nowego użytkownika</a><br></br>
	<table class="table table-hover table-responsive">
	<tr>
	<th>
	Nazwa użytkownika
	</th>
	<th>
	Imie
	</th>
	<th >
	Nazwisko
	</th>
	<th>
		Typ
	</th>
	<th>
	</th>
	</tr>
	{% for element in users %}
	<tr>
	<td>
	{{ element.username }}
	</td>
	<td>
	{{ element.name }}		
	</td >
	<td>
	{{ element.second_name }} 	
	</td>
	<td>
	{% if element.type_id == None %} Użytkownik {% else %}
	{{ element.type_id }} 	{% endif %}
	</td>
	<td align="right" >
	<a href="/manage/usermanagement/edit/{{ element.user_id }}" class="btn btn-primary" data-toggle="tooltip" title="edytuj"/><span class="glyphicon glyphicon-pencil"></span> </a>&nbsp;
	<a href="/manage/usermanagement/delete/{{ element.user_id }}" class="btn btn-primary delete-button" data-toggle="tooltip"  title="usuń"/><span class="glyphicon glyphicon-trash"></span> </a>
	</td>
	</tr>
	{% endfor %}
	</table>
	
{% endblock %}