{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}


{% block content %}
{{ content }}
{% if type == "add" or type == "edit" %}
	<form action="/manage/discount/edit/{{id}}/" method="POST">
	{% csrf_token %}
	<table border=0>
	{% if type == "edit" %}<tr><td>Aktywna: </td><td><input type="checkbox" name="active" value="1" {% if active == 1 %}checked{% endif %}/></td></tr>{% endif %}
	<tr><td>Dni: </td><td>
		<input type="checkbox" name="day0" value="1" {% if day0 == 1 %}checked{% endif %}>Poniedziałek<br />
		<input type="checkbox" name="day1" value="1" {% if day1 == 1 %}checked{% endif %}>Wtorek<br />
		<input type="checkbox" name="day2" value="1" {% if day2 == 1 %}checked{% endif %}>Środa<br />
		<input type="checkbox" name="day3" value="1" {% if day3 == 1 %}checked{% endif %}>Czwartek<br />
		<input type="checkbox" name="day4" value="1" {% if day4 == 1 %}checked{% endif %}>Piątek<br />
		<input type="checkbox" name="day5" value="1" {% if day5 == 1 %}checked{% endif %}>Sobota<br />
		<input type="checkbox" name="day6" value="1" {% if day6 == 1 %}checked{% endif %}>Niedziela<br />
	</td></tr>
	<tr><td>Od:</td><td>Godzina: <input type="text" name="shour" value="{% if type == "edit" %}{{sHour}}{% else %}8{% endif %}" /> Minut: <input type="text" name="sminutes" value="{% if type == "edit" %}{{sMinutes}}{% else %}00{% endif %}"/></td></tr>
	<tr><td>Do:</td><td>Godzina: <input type="text" name="ehour" value="{% if type == "edit" %}{{eHour}}{% else %}12{% endif %}" /> Minut: <input type="text" name="eminutes" value="{% if type == "edit" %}{{eMinutes}}{% else %}00{% endif %}"/></td></tr>
	<tr><td>Dla: </td><td><select name="type">
		<option value="0" {% if typeFor == "0" %}selected{% endif %}>Zarejestrowani</option>
		<option value="1" {% if typeFor == "1" %}selected{% endif %}>Niezarejestrowani</option>
		<option value="2" {% if typeFor == "2" %}selected{% endif %}>Wszyscy</option>
	</select></td></tr>
	<tr><td>% zniżki: </td><td><input type="text" name="disc" value="{% if type == "edit" %}{{disc}}{% else %}0{% endif %}" /></td></tr>
	<tr><td colspan="2"><input type="hidden" name="sent" value="1" /><input type="submit" value="Zapisz" /></td></tr>
	</table>
	</form>
{% endif %}
{% endblock %}