<html>
<head>
<meta charset="UTF-8"> 
<title>Zarządzaj::{{ title }}</title>
</head>
<body>
{{ content }}
{% if type == "add" %}
	<form action="/manage/discount/add/" method="POST">
	{% csrf_token %}
	<table border=0>
	<tr><td>Dni: </td><td>
		<input type="checkbox" name="day0" value="1">Poniedziałek<br />
		<input type="checkbox" name="day1" value="1">Wtorek<br />
		<input type="checkbox" name="day2" value="1">Środa<br />
		<input type="checkbox" name="day3" value="1">Czwartek<br />
		<input type="checkbox" name="day4" value="1">Piątek<br />
		<input type="checkbox" name="day5" value="1">Sobota<br />
		<input type="checkbox" name="day6" value="1">Niedziela<br />
	</td></tr>
	<tr><td>Od:</td><td>Godzina: <input type="text" name="shour" value="8" /> Minut: <input type="text" name="sminutes" value="00"/></td></tr>
	<tr><td>Do:</td><td>Godzina: <input type="text" name="ehour" value="12" /> Minut: <input type="text" name="eminutes" value="00"/></td></tr>
	<tr><td>Dla: </td><td><select name="type">
		<option value="0">Zarejestrowani</option>
		<option value="1">Niezarejestrowani</option>
		<option value="2">Wszyscy</option>
	</select></td></tr>
	<tr><td>% zniżki: </td><td><input type="text" name="disc" value="0" /></td></tr>
	<tr><td colspan="2"><input type="hidden" name="sent" value="1" /><input type="submit" value="Zapisz" /></td></tr>
	</table>
	</form>
{% endif %}
</body>
</html>