{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

	{% if messageType == "danger" or messageType == "success" %}
	<div class="alert alert-{{messageType}}">
	  {{message}}
	</div>
	{% else %}
	<a href="/" class="btn btn-primary">Powrót</a><br /></br>
	<div>Numer Twojego zamówienia: <strong>{{order_id}}</strong></div>
	<div>Status Twojego zamówienia: <strong>{{order_status}}</strong></div>
	<div>Typ płatności: {{order_type}}</div></br>
	<div>Całkowita cena: <span class="product_header_info">{{order_price}} PLN</span></div>
	{% endif %}
{% endblock %}