

{% extends "index.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if messageType == "danger" or messageType == "success" %}
<div class="alert alert-{{messageType}}">
  {{message}}
</div>
{% endif %}
  <a href="/" class="btn btn-primary">Powrót</a></br></br>
<form action="/user/register" method="POST">
  {% csrf_token %}

        <h3>Dane:</h3>
		<div class="input-group">
        <label  class="control-label">Imię:</label>

        <input type="text" name="name" value="{{name}}" maxlength=64  class="form-control" required/>
	</div>
		
		<div class="input-group">
        <label  class="control-label">Nazwisko:</label>

        <input type="text" name="second_name" value="{{second_name}}" maxlength=64  class="form-control" required/>
		</div>
		<div class="input-group">
        <label  class="control-label">Adres:</label>

        <input type="text" maxlength="64" name="address" value="{{address}}"  class="form-control" required/>
		</div>
		<div class="input-group">
        <label  class="control-label">Miasto:</label>

        <input type="text" maxlength="64" name="city" value="{{city}}"  class="form-control" required/>
		</div>
		<div style="display: inline; margin-bottom: 10px; float:left; width:100%;">
        <label  class="control-label">Kod pocztowy:</label><br>

          <input type="text" size="2" maxlength="2" name="postal_code1" value="{{postal_code1}}"  class="form-control" required/ style="display: inline;width: 40px; !important"> - <input type="text" size="3" maxlength="3" name="postal_code2" value="{{postal_code2}}"  class="form-control" required style="display: inline;width: 60px; !important"/>
		</div>
		<div class="input-group">
        <label  class="control-label">Numer telefonu:</label>

        <input type="text" maxlength="9" name="phone_number" value="{{phone_number}}"  class="form-control" required/>
		</div>
		<div class="input-group">
        <label  class="control-label">Hasło:</label>

        <input type="password" maxlength="64" name="password" value=""   class="form-control" required/>
		</div>
		<div class="input-group">
        <label  class="control-label">Nazwa użytkownika:</label>

        <input type="text" maxlength="64" name="username" value="{{username}}"  class="form-control" required/>
		</div>


        <h3>Zgody:</h3>

<div class="checkbox">
<label class="control-label">
        <input type="checkbox" name="agg0" value="1" {% if agg0 == 1 %}checked{% endif %}/>
        Zgadzam się z regulaminem strony </label>
</div>
		<div class="checkbox">
		<label  class="control-label">
        <input type="checkbox" name="agg1" value="1" {% if agg1 == 1 %}checked{% endif %}/>
        Zgadzam się na przetwarzanie danych osobowych:</label>
	</div>

        <div class="input-group"><input type="hidden" name="sent" value="1" /></div>
        <div><input type="submit" value="Rejestruj" class="btn btn-primary"/></div>


</form>
{% endblock %}

